<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Sin estos dos permisos declarados, Geolocator.requestPermission()
         devuelve `denied` en el acto y ni siquiera muestra el diálogo al
         vendedor: el alta de clientes se quedaría para siempre en "sin
         permiso" por más veces que lo toque. Es el tipo de falla que solo
         aparece en el teléfono, nunca en las pruebas de widget. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- La aproximada, como respaldo: en Android 12+ el vendedor puede conceder
         solo esta desde el diálogo del sistema, y una coordenada de barrio sirve
         más que ninguna (el alta permite corregirla a mano). -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- El GPS es la razón de ser del alta en la calle, pero no se declara
         `required`: un equipo sin chip de GPS todavía sirve para vender, cobrar
         y capturar la ubicación a mano. -->
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>

    <!-- Sincronizar necesita saber si hay red. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:label="Distribuciones SE"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
